.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  font-family: Inter Tight;
}
.display-1 {
  font-family: 'Merriweather', serif;
  font-size: 1.5rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 1.875rem;
}
.display-2 {
  font-family: 'Playfair Display', serif;
  font-size: 1.3rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 1.625rem;
}
.display-4 {
  font-family: 'Inter', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.625rem;
}
.display-5 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 4rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 5rem;
}
.display-7 {
  font-family: 'Merriweather', serif;
  font-size: 1.5rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 1.875rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 1.2rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 1.05rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.04rem;
    font-size: calc( 1.105rem + (1.3 - 1.105) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.105rem + (1.3 - 1.105) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.04rem;
    font-size: calc( 1.105rem + (1.3 - 1.105) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.105rem + (1.3 - 1.105) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #7787a5 !important;
}
.bg-success {
  background-color: #7787a5 !important;
}
.bg-info {
  background-color: #7787a5 !important;
}
.bg-warning {
  background-color: #a0e2e1 !important;
}
.bg-danger {
  background-color: #0c2c68 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #7787a5 !important;
  border-color: #7787a5 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #96a2b9 !important;
  border-color: #96a2b9 !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #96a2b9 !important;
  border-color: #96a2b9 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #c2bea1 !important;
  border-color: #c2bea1 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #d6d3c0 !important;
  border-color: #d6d3c0 !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #d6d3c0 !important;
  border-color: #d6d3c0 !important;
}
.btn-info,
.btn-info:active {
  background-color: #7787a5 !important;
  border-color: #7787a5 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #96a2b9 !important;
  border-color: #96a2b9 !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #96a2b9 !important;
  border-color: #96a2b9 !important;
}
.btn-success,
.btn-success:active {
  background-color: #7787a5 !important;
  border-color: #7787a5 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #96a2b9 !important;
  border-color: #96a2b9 !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #96a2b9 !important;
  border-color: #96a2b9 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #a0e2e1 !important;
  border-color: #a0e2e1 !important;
  color: #1f6463 !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #c7eeed !important;
  border-color: #c7eeed !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #1f6463 !important;
  background-color: #c7eeed !important;
  border-color: #c7eeed !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #0c2c68 !important;
  border-color: #0c2c68 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #113f96 !important;
  border-color: #113f96 !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #113f96 !important;
  border-color: #113f96 !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #7787a5;
  color: #7787a5;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #4f5d77 !important;
  background-color: transparent !important;
  border-color: #4f5d77 !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #7787a5 !important;
  border-color: #7787a5 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #c2bea1;
  color: #c2bea1;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #a09a6c !important;
  background-color: transparent !important;
  border-color: #a09a6c !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #c2bea1 !important;
  border-color: #c2bea1 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #7787a5;
  color: #7787a5;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #4f5d77 !important;
  background-color: transparent !important;
  border-color: #4f5d77 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7787a5 !important;
  border-color: #7787a5 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #7787a5;
  color: #7787a5;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #4f5d77 !important;
  background-color: transparent !important;
  border-color: #4f5d77 !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #7787a5 !important;
  border-color: #7787a5 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #a0e2e1;
  color: #a0e2e1;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #5ececc !important;
  background-color: transparent !important;
  border-color: #5ececc !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #1f6463 !important;
  background-color: #a0e2e1 !important;
  border-color: #a0e2e1 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #0c2c68;
  color: #0c2c68;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #030b1a !important;
  background-color: transparent !important;
  border-color: #030b1a !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #0c2c68 !important;
  border-color: #0c2c68 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #7787a5 !important;
}
.text-secondary {
  color: #c2bea1 !important;
}
.text-success {
  color: #7787a5 !important;
}
.text-info {
  color: #7787a5 !important;
}
.text-warning {
  color: #a0e2e1 !important;
}
.text-danger {
  color: #0c2c68 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #48556e !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #999364 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #48556e !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #48556e !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #52cac8 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #01050d !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #7787a5;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #7787a5;
}
.alert-warning {
  background-color: #a0e2e1;
}
.alert-danger {
  background-color: #0c2c68;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #7787a5;
  border-color: #7787a5;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #7787a5;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #c4cbd8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #c4cbd8;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c4cbd8;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #195cda;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Merriweather', serif;
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 400;
  border-radius: 40px !important;
}
.form-control > .mbr-iconfont {
  font-size: 1.875rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #7787a5 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Merriweather', serif;
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.875rem;
}
blockquote {
  border-color: #7787a5;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #7787a5;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #7787a5;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #7787a5;
  border-bottom-color: #7787a5;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #7787a5 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #c2bea1 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%237787a5' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tUkJHGP6eE {
  display: flex;
  background-image: url("../../../assets/images/s-38682630.jpeg");
}
.cid-tUkJHGP6eE .mbr-overlay {
  background-color: #353535;
  opacity: 0.5;
}
.cid-tUkJHGP6eE .content-wrap {
  padding: 5rem 1rem;
}
@media (min-width: 768px) {
  .cid-tUkJHGP6eE {
    align-items: flex-end;
  }
  .cid-tUkJHGP6eE .row {
    justify-content: flex-start;
  }
  .cid-tUkJHGP6eE .content-wrap {
    width: 51%;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-tUkJHGP6eE .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-tUkJHGP6eE {
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-tUkJHGP6eE .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-tUkJHGP6eE .content-wrap {
    width: 100%;
  }
}
.cid-tUkJHGP6eE .mbr-section-title {
  color: #ffffff;
  text-align: left;
}
.cid-tUkJUvsR9P {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tUkJUvsR9P blockquote {
  border-color: #6592e6;
  border-radius: 4px;
  background-color: #fafafa;
}
.cid-tUkJUvsR9P .mbr-text {
  color: #000000;
}
.cid-tUkJUvsR9P .mbr-section-title {
  color: #5c5211;
}
.cid-tUkJYB5JHk {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-tUkJYB5JHk .mbr-fallback-image.disabled {
  display: none;
}
.cid-tUkJYB5JHk .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tUkJYB5JHk .row {
  align-items: stretch;
  justify-content: center;
}
.cid-tUkJYB5JHk .row .img-item {
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.cid-tUkJYB5JHk .row .img-item img {
  width: 100%;
  object-fit: cover;
  min-height: 1px;
}
.cid-tUkKdBGc30 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tUkKdBGc30 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tUkKdBGc30 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (min-width: 992px) {
  .cid-tUkKdBGc30 .text-wrapper {
    padding: 2rem;
  }
}
.cid-tUkKdBGc30 .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-tUkKdBGc30 .image-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-tUkKiBrugv {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-tUkKiBrugv .mbr-fallback-image.disabled {
  display: none;
}
.cid-tUkKiBrugv .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tUkKiBrugv .media-container-row {
  justify-content: space-between;
}
.cid-tUkKiBrugv .text-content {
  max-width: 50%;
}
@media (max-width: 768px) {
  .cid-tUkKiBrugv .text-content {
    max-width: none;
  }
}
.cid-tUkKiBrugv .mbr-iconfont-social {
  margin: 0.5rem;
  font-size: 32px;
  display: flex;
  border-radius: 50%;
  text-align: center;
  color: #6592e6;
  border: 2px solid #6592e6;
  justify-content: center;
  align-content: center;
  transition: all 0.3s;
}
.cid-tUkKiBrugv .mbr-iconfont-social:before {
  padding: 0.6rem;
}
.cid-tUkKiBrugv .mbr-iconfont-social:hover {
  background-color: #6592e6;
  color: #ffffff;
}
@media (max-width: 768px) {
  .cid-tUkKiBrugv .icons {
    justify-content: center !important;
  }
  .cid-tUkKiBrugv .text-content * {
    text-align: center;
  }
}
.cid-tUkKiBrugv .mbr-section-title {
  color: #010d26;
}
.cid-tWZBUxfNuE {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #7787a5;
}
.cid-tWZBUxfNuE .mbr-fallback-image.disabled {
  display: none;
}
.cid-tWZBUxfNuE .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tWZBUxfNuE .card-wrapper {
  background: #bbbbbb;
}
@media (max-width: 767px) {
  .cid-tWZBUxfNuE .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tWZBUxfNuE .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tWZBUxfNuE .card-wrapper {
    padding: 9rem 4rem;
  }
}
.cid-tWZBUxfNuE .mbr-text,
.cid-tWZBUxfNuE .mbr-section-btn {
  color: #000000;
  text-align: center;
}
.cid-tWZBUxfNuE .card-title,
.cid-tWZBUxfNuE .card-box {
  text-align: center;
  color: #5f5f5e;
}
.cid-tYNCeUxRoy {
  z-index: 1000;
  width: 100%;
  position: relative;
}
.cid-tYNCeUxRoy .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
@media (max-width: 767px) {
  .cid-tYNCeUxRoy .navbar-toggler {
    transform: scale(0.8);
  }
}
.cid-tYNCeUxRoy .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tYNCeUxRoy .navbar-brand img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 0px !important;
}
.cid-tYNCeUxRoy .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tYNCeUxRoy .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tYNCeUxRoy .navbar-nav {
  margin: auto;
  margin-left: 0;
  margin-left: auto;
}
.cid-tYNCeUxRoy .navbar-nav .nav-item {
  padding: 0 !important;
  transition: .3s all !important;
}
.cid-tYNCeUxRoy .navbar-nav .nav-item .nav-link {
  padding: 16px !important;
  margin: 0 !important;
  border-radius: 1rem !important;
  transition: .3s all !important;
}
.cid-tYNCeUxRoy .navbar-nav .nav-item .nav-link:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
.cid-tYNCeUxRoy .navbar-nav .open .nav-link::after {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  .cid-tYNCeUxRoy .navbar-nav .open .nav-link::before {
    content: "";
    width: 100%;
    height: 20px;
    top: 100%;
    background: transparent;
    position: absolute;
  }
}
.cid-tYNCeUxRoy .navbar-nav .dropdown-item {
  padding: 12px !important;
  border-radius: 0.5rem !important;
  margin: 0 8px !important;
  transition: .3s all !important;
}
.cid-tYNCeUxRoy .navbar-nav .dropdown-item:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
@media (min-width: 992px) {
  .cid-tYNCeUxRoy .navbar-nav {
    padding-left: 1.5rem;
  }
}
.cid-tYNCeUxRoy .nav-link {
  width: fit-content;
  position: relative;
}
.cid-tYNCeUxRoy .navbar-logo {
  padding-left: 2rem;
  margin: 0 !important;
}
@media (max-width: 767px) {
  .cid-tYNCeUxRoy .navbar-logo {
    padding-left: 1rem;
  }
}
.cid-tYNCeUxRoy .navbar-caption {
  padding-left: 1rem;
  padding-right: .5rem;
}
@media (max-width: 767px) {
  .cid-tYNCeUxRoy .nav-dropdown {
    padding-bottom: 0.5rem;
  }
}
.cid-tYNCeUxRoy .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  transition: .3s all;
}
.cid-tYNCeUxRoy .container {
  display: flex;
  height: 90px;
  padding: 0.5rem 0.6rem;
  flex-wrap: nowrap;
  background: rgba(255, 255, 255, 0.8) !important;
  left: 0;
  right: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100vw;
  margin-top: 1rem;
  background-color: #ffffff;
  box-shadow: 0 30px 60px 0 rgba(27, 31, 10, 0.08);
}
@media (max-width: 992px) {
  .cid-tYNCeUxRoy .container {
    padding-right: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tYNCeUxRoy .container {
    width: 95%;
    height: 56px !important;
    padding-right: 1rem;
    margin-top: 0rem;
  }
}
.cid-tYNCeUxRoy .iconfont-wrapper {
  color: #7787a5 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tYNCeUxRoy .dropdown-menu {
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  padding: 12px 4px !important;
  border-radius: 1.5rem;
  transition: .3s all !important;
  min-width: auto;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.8) !important;
}
.cid-tYNCeUxRoy .nav-item:focus,
.cid-tYNCeUxRoy .nav-link:focus {
  outline: none;
}
.cid-tYNCeUxRoy .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tYNCeUxRoy .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tYNCeUxRoy .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tYNCeUxRoy .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tYNCeUxRoy .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tYNCeUxRoy .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tYNCeUxRoy .navbar {
  min-height: 90px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: transparent !important;
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}
.cid-tYNCeUxRoy .navbar.opened {
  transition: all 0.3s;
}
.cid-tYNCeUxRoy .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tYNCeUxRoy .navbar .navbar-logo img {
  width: auto;
}
.cid-tYNCeUxRoy .navbar .navbar-collapse {
  z-index: 1;
  justify-content: flex-end;
}
.cid-tYNCeUxRoy .navbar.collapsed {
  justify-content: center;
}
.cid-tYNCeUxRoy .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tYNCeUxRoy .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tYNCeUxRoy .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 4.1rem);
  }
}
.cid-tYNCeUxRoy .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tYNCeUxRoy .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tYNCeUxRoy .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tYNCeUxRoy .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tYNCeUxRoy .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tYNCeUxRoy .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 767px) {
  .cid-tYNCeUxRoy .navbar {
    min-height: 72px;
  }
  .cid-tYNCeUxRoy .navbar .navbar-logo img {
    height: 2rem !important;
  }
}
@media (max-width: 991px) {
  .cid-tYNCeUxRoy .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tYNCeUxRoy .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tYNCeUxRoy .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tYNCeUxRoy .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tYNCeUxRoy .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tYNCeUxRoy .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tYNCeUxRoy .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 10px;
  }
  .cid-tYNCeUxRoy .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tYNCeUxRoy .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-tYNCeUxRoy .navbar.navbar-short .navbar-logo img {
  height: 2rem;
}
.cid-tYNCeUxRoy .dropdown-item.active,
.cid-tYNCeUxRoy .dropdown-item:active {
  background-color: transparent;
}
.cid-tYNCeUxRoy .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tYNCeUxRoy .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tYNCeUxRoy .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tYNCeUxRoy .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-tYNCeUxRoy .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 105%;
  transform: none;
  top: -12px;
}
.cid-tYNCeUxRoy .navbar .dropdown.open > .dropdown-menu {
  display: flex;
}
.cid-tYNCeUxRoy ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tYNCeUxRoy .navbar-buttons {
  text-align: center;
  min-width: 140px;
}
@media (max-width: 992px) {
  .cid-tYNCeUxRoy .navbar-buttons {
    text-align: left;
  }
}
.cid-tYNCeUxRoy button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tYNCeUxRoy button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-tYNCeUxRoy button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tYNCeUxRoy button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tYNCeUxRoy button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tYNCeUxRoy button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tYNCeUxRoy nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tYNCeUxRoy nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tYNCeUxRoy nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tYNCeUxRoy nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tYNCeUxRoy .navbar-dropdown {
  padding: 0 1rem;
}
.cid-tYNCeUxRoy a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tYNCeUxRoy .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media (max-width: 992px) {
  .cid-tYNCeUxRoy .icons-menu {
    justify-content: flex-start;
    margin-bottom: .5rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tYNCeUxRoy .navbar {
    height: 70px;
  }
  .cid-tYNCeUxRoy .navbar.opened {
    height: auto;
  }
  .cid-tYNCeUxRoy .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tYNCeUxRoy .navbar .dropdown > .dropdown-menu {
  display: none;
  width: max-content;
  max-width: 500px !important;
  transform: translateX(-50%);
  top: calc(100% + 20px);
  left: 50%;
}
.cid-tYNCeUxRoy .navbar .dropdown > .dropdown-menu .dropdown-item {
  line-height: 1 !important;
}
.cid-tYNCeUxRoy .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
  align-items: center;
  display: flex;
  height: max-content !important;
  min-height: max-content !important;
}
.cid-tYNCeUxRoy .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
  display: inline-block;
  position: static;
  margin-left: 0.5rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  transition: .3s all;
  transform: rotate(-90deg);
}
.cid-tYNCeUxRoy .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
  transform: rotate(0deg);
}
.cid-tYNCeUxRoy .mbr-section-btn {
  margin: -0.6rem -0.6rem;
}
.cid-tYNCeUxRoy .navbar-toggler {
  margin-left: 12px;
  margin-right: 8px;
  order: 1000;
}
@media (max-width: 991px) {
  .cid-tYNCeUxRoy .navbar-brand {
    margin-right: auto;
  }
  .cid-tYNCeUxRoy .navbar-collapse {
    z-index: -1 !important;
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
    background: #ffffff;
    opacity: 1;
    border-color: rgba(255, 255, 255, 0.8) !important;
    background: rgba(255, 255, 255, 0.8) !important;
    backdrop-filter: blur(8px);
  }
  .cid-tYNCeUxRoy .navbar-nav .nav-item .nav-link::after {
    margin-left: 10px;
  }
  .cid-tYNCeUxRoy .navbar-nav .dropdown-item:hover {
    background-color: rgba(27, 31, 10, 0.06);
  }
  .cid-tYNCeUxRoy .navbar .dropdown > .dropdown-menu {
    max-width: 100% !important;
    transform: translateX(0);
    top: 10px;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-tYNCeUxRoy .navbar .dropdown > .dropdown-menu .dropdown-item {
    padding: 8px !important;
    line-height: 1 !important;
    margin-bottom: 4px !important;
  }
  .cid-tYNCeUxRoy .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
    align-items: center;
    display: flex;
    height: max-content !important;
    min-height: max-content !important;
  }
  .cid-tYNCeUxRoy .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
    display: inline-block;
    position: static;
    margin-left: 0.5rem;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    transition: .3s all;
    transform: rotate(0deg);
  }
  .cid-tYNCeUxRoy .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
    transform: rotate(180deg);
  }
  .cid-tYNCeUxRoy .navbar .dropdown > .dropdown-menu .dropdown-submenu {
    position: static;
    width: 100%;
    max-width: 100% !important;
    transform: translateX(0) !important;
    top: 0;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-tYNCeUxRoy .navbar .dropdown.open > .dropdown-menu {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 575px) {
  .cid-tYNCeUxRoy .navbar-collapse {
    padding: 1rem;
  }
}
.cid-tYNCXhaT1S {
  display: flex;
  background-image: url("../../../assets/images/liz-658x459.jpg");
}
.cid-tYNCXhaT1S .mbr-overlay {
  background-color: #000000;
  opacity: 0.5;
}
.cid-tYNCXhaT1S .content-wrap {
  padding: 5rem 1rem;
  max-width: 800px;
}
@media (min-width: 768px) {
  .cid-tYNCXhaT1S {
    align-items: flex-end;
  }
  .cid-tYNCXhaT1S .row {
    justify-content: center;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-tYNCXhaT1S .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-tYNCXhaT1S {
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-tYNCXhaT1S .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-tYNCXhaT1S .content-wrap {
    width: 100%;
  }
}
.cid-tYNCXhaT1S .mbr-section-title {
  text-align: center;
  color: #ddd8db;
}
.cid-tYNCXhaT1S .mbr-text,
.cid-tYNCXhaT1S .mbr-section-btn {
  text-align: left;
  color: #bbbbbb;
}
.cid-tYND13Suu2 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: #edefeb;
}
.cid-tYND13Suu2 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tYND13Suu2 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tYND13Suu2 .team-card {
  margin-bottom: 1rem;
  transition: all 0.3s;
}
.cid-tYND13Suu2 .team-card:hover {
  transform: translateY(-10px);
}
.cid-tYND13Suu2 .content-head {
  max-width: 800px;
}
.cid-tYND13Suu2 .card1 {
  background: #a6a99c;
}
.cid-tYND13Suu2 .card2 {
  background: #959594;
}
.cid-tYND13Suu2 .card3 {
  background: #a6a99c;
}
.cid-tYND13Suu2 .card4 {
  background: #959594;
}
.cid-tYND13Suu2 .image-wrap {
  padding-bottom: 0rem;
  position: relative;
}
.cid-tYND13Suu2 .image-wrap .social-row {
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
}
.cid-tYND13Suu2 .card-wrap {
  margin-bottom: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .cid-tYND13Suu2 .card-wrap {
    margin-bottom: 1rem;
  }
}
.cid-tYND13Suu2 .card-wrap .image-wrap img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-tYND13Suu2 .card-wrap .content-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cid-tYND13Suu2 .card-wrap .content-wrap .content-footer {
  margin-top: auto;
}
@media (min-width: 768px) {
  .cid-tYND13Suu2 .card-wrap .content-wrap {
    padding: 2.25rem;
  }
}
@media (max-width: 767px) {
  .cid-tYND13Suu2 .card-wrap .content-wrap {
    padding: 1.5rem;
  }
}
.cid-tYND13Suu2 .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 1.5rem;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
}
.cid-tYND13Suu2 .tag1 {
  background: #a6a99c;
  color: #010d26;
}
.cid-tYND13Suu2 .tag2 {
  background: #959594;
  color: #bbbbbb;
}
.cid-tYND13Suu2 .tag3 {
  background: #a6a99c;
  color: #010d26;
}
.cid-tYND13Suu2 .tag4 {
  background: #959594;
  color: #bbbbbb;
}
.cid-tYND13Suu2 .card-text3,
.cid-tYND13Suu2 .mbr-section-btn {
  color: #232323;
}
.cid-tYND13Suu2 .card-text2,
.cid-tYND13Suu2 .mbr-section-btn {
  color: #ffd7ef;
}
.cid-tYND13Suu2 .card-text1,
.cid-tYND13Suu2 .mbr-section-btn {
  color: #502274;
}
.cid-tYND13Suu2 .card-title2,
.cid-tYND13Suu2 .social-row {
  color: #edefeb;
}
.cid-tYND13Suu2 .mbr-role3,
.cid-tYND13Suu2 .social-row {
  color: #ffffff;
}
.cid-tYND13Suu2 .card-title3,
.cid-tYND13Suu2 .social-row {
  color: #f7f7f7;
}
.cid-tYND13Suu2 .card-title4,
.cid-tYND13Suu2 .social-row {
  color: #ffffff;
}
.cid-tYND13Suu2 .mbr-role3 {
  color: #232323;
}
.cid-tYND13Suu2 .mbr-role2 {
  color: #ffd7ef;
}
.cid-tYND13Suu2 .mbr-role4 {
  color: #ffffff;
}
.cid-tYND13Suu2 .card-text4,
.cid-tYND13Suu2 .mbr-section-btn {
  color: #ffffff;
}
.cid-tYND13Suu2 .card-title1,
.cid-tYND13Suu2 .social-row {
  color: #f7f7f7;
}
.cid-tYND13Suu2 .card-text1,
.cid-tYND13Suu2 .card1 .mbr-section-btn {
  color: #232323;
}
.cid-tYND13Suu2 .card-text2,
.cid-tYND13Suu2 .card2 .mbr-section-btn {
  color: #ddd3bd;
}
.cid-tYND13Suu2 .card-text4,
.cid-tYND13Suu2 .card4 .mbr-section-btn {
  color: #ddd3bd;
}
.cid-tYND13Suu2 .card-text3,
.cid-tYND13Suu2 .card3 .mbr-section-btn {
  color: #232323;
}
.cid-tYND13Suu2 .mbr-section-title {
  color: #010d26;
}
.cid-tYXzqELfJI {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #bbbbbb;
}
.cid-tYXzqELfJI .mbr-fallback-image.disabled {
  display: none;
}
.cid-tYXzqELfJI .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tYXzqELfJI .card-wrapper {
  background: #c2bea1;
}
@media (max-width: 767px) {
  .cid-tYXzqELfJI .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tYXzqELfJI .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tYXzqELfJI .card-wrapper {
    padding: 9rem 4rem;
  }
}
.cid-tYXzqELfJI .mbr-text,
.cid-tYXzqELfJI .mbr-section-btn {
  color: #000000;
  text-align: center;
}
.cid-tYXzqELfJI .card-title,
.cid-tYXzqELfJI .card-box {
  text-align: center;
  color: #000000;
}
.cid-tYND7BGw2o {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #edefeb;
}
.cid-tYND7BGw2o .mbr-fallback-image.disabled {
  display: none;
}
.cid-tYND7BGw2o .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 767px) {
  .cid-tYND7BGw2o .image-wrapper {
    flex-direction: column;
  }
  .cid-tYND7BGw2o .image-wrapper img {
    margin: auto;
    margin-bottom: 1rem;
  }
}
.cid-tYND7BGw2o .card-box {
  max-width: 700px;
  padding-top: 2rem;
  margin-left: auto;
  margin-right: 0;
}
.cid-tYND7BGw2o img,
.cid-tYND7BGw2o .item-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-tYND7BGw2o .card-wrapper {
  background: #ffffff;
}
.cid-tYND7BGw2o .mbr-text,
.cid-tYND7BGw2o .mbr-section-btn {
  color: #000000;
}
.cid-tYND7BGw2o .card-title,
.cid-tYND7BGw2o .card-box {
  color: #5f5f5e;
}
@media (max-width: 767px) {
  .cid-tYND7BGw2o .card-content-text {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  }
}
@media (min-width: 768px) {
  .cid-tYND7BGw2o .card-content-text {
    padding: 2.25rem 2.25rem 2.25rem 2.25rem;
  }
}
.cid-tYND58LorB {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #edefeb;
}
.cid-tYND58LorB .mbr-fallback-image.disabled {
  display: none;
}
.cid-tYND58LorB .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tYND58LorB .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tYND58LorB .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-tYND58LorB .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tYND58LorB .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tYND58LorB .mbr-section-title {
  color: #3a341c;
}
.cid-tYND58LorB .mbr-text,
.cid-tYND58LorB .mbr-section-btn {
  color: #260a30;
}
.cid-tYND8PYqIJ {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #edefeb;
}
.cid-tYND8PYqIJ .mbr-fallback-image.disabled {
  display: none;
}
.cid-tYND8PYqIJ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tYND8PYqIJ .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tYND8PYqIJ .row {
  flex-direction: row-reverse;
}
.cid-tYND8PYqIJ .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-tYND8PYqIJ .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tYND8PYqIJ .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tYND8PYqIJ .mbr-section-title {
  color: #5f5f5e;
}
.cid-tYND8PYqIJ .mbr-text,
.cid-tYND8PYqIJ .mbr-section-btn {
  color: #000000;
}
.cid-tYXzseLSXJ {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #bbbbbb;
}
.cid-tYXzseLSXJ .mbr-fallback-image.disabled {
  display: none;
}
.cid-tYXzseLSXJ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tYXzseLSXJ .card-wrapper {
  background: #c2bea1;
}
@media (max-width: 767px) {
  .cid-tYXzseLSXJ .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tYXzseLSXJ .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tYXzseLSXJ .card-wrapper {
    padding: 9rem 4rem;
  }
}
.cid-tYXzseLSXJ .mbr-text,
.cid-tYXzseLSXJ .mbr-section-btn {
  color: #000000;
  text-align: center;
}
.cid-tYXzseLSXJ .card-title,
.cid-tYXzseLSXJ .card-box {
  text-align: center;
  color: #000000;
}
.cid-tYNDFNIx1c {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #edefeb;
}
.cid-tYNDFNIx1c .mbr-fallback-image.disabled {
  display: none;
}
.cid-tYNDFNIx1c .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tYNDFNIx1c .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tYNDFNIx1c .row {
  flex-direction: row-reverse;
}
.cid-tYNDFNIx1c .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-tYNDFNIx1c .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tYNDFNIx1c .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tYNDFNIx1c .mbr-section-title {
  color: #815400;
}
.cid-tYNDFNIx1c .mbr-text,
.cid-tYNDFNIx1c .mbr-section-btn {
  color: #000000;
}
.cid-tYNDHlhSXR {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #edefeb;
}
.cid-tYNDHlhSXR .mbr-fallback-image.disabled {
  display: none;
}
.cid-tYNDHlhSXR .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tYNDHlhSXR .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tYNDHlhSXR .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-tYNDHlhSXR .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tYNDHlhSXR .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tYNDHlhSXR .mbr-section-title {
  color: #7a0606;
}
.cid-tYNDHlhSXR .mbr-text,
.cid-tYNDHlhSXR .mbr-section-btn {
  color: #260a30;
}
.cid-tYXuQnHKOK {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #edefeb;
}
.cid-tYXuQnHKOK .mbr-fallback-image.disabled {
  display: none;
}
.cid-tYXuQnHKOK .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tYXuQnHKOK .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tYXuQnHKOK .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-tYXuQnHKOK .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tYXuQnHKOK .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tYXuQnHKOK .mbr-section-title {
  color: #c49c10;
}
.cid-tYXuQnHKOK .mbr-text,
.cid-tYXuQnHKOK .mbr-section-btn {
  color: #260a30;
}
.cid-tYXuY2u6IG {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #edefeb;
}
.cid-tYXuY2u6IG .mbr-fallback-image.disabled {
  display: none;
}
.cid-tYXuY2u6IG .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tYXuY2u6IG .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tYXuY2u6IG .row {
  flex-direction: row-reverse;
}
.cid-tYXuY2u6IG .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-tYXuY2u6IG .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tYXuY2u6IG .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tYXuY2u6IG .mbr-section-title {
  color: #ac7a23;
}
.cid-tYXuY2u6IG .mbr-text,
.cid-tYXuY2u6IG .mbr-section-btn {
  color: #000000;
}
.cid-tYXzv7Cfli {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #bbbbbb;
}
.cid-tYXzv7Cfli .mbr-fallback-image.disabled {
  display: none;
}
.cid-tYXzv7Cfli .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tYXzv7Cfli .card-wrapper {
  background: #c2bea1;
}
@media (max-width: 767px) {
  .cid-tYXzv7Cfli .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tYXzv7Cfli .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tYXzv7Cfli .card-wrapper {
    padding: 9rem 4rem;
  }
}
.cid-tYXzv7Cfli .mbr-text,
.cid-tYXzv7Cfli .mbr-section-btn {
  color: #000000;
  text-align: center;
}
.cid-tYXzv7Cfli .card-title,
.cid-tYXzv7Cfli .card-box {
  text-align: center;
  color: #000000;
}
.cid-tYXzwugeBe {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-tYXzwugeBe .mbr-fallback-image.disabled {
  display: none;
}
.cid-tYXzwugeBe .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tYXzwugeBe .row {
  align-items: stretch;
  justify-content: center;
}
.cid-tYXzwugeBe .row .img-item {
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.cid-tYXzwugeBe .row .img-item img {
  width: 100%;
  object-fit: cover;
  min-height: 1px;
}
.cid-tYXzwugeBe img,
.cid-tYXzwugeBe .item-img {
  width: 100%;
  object-position: 50% top;
  height: 500px;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-tYXzwugeBe img,
  .cid-tYXzwugeBe .item-img {
    max-height: 350px;
  }
}
.cid-tYXzwugeBe H5 {
  text-align: right;
  color: #a6a99c;
}
.cid-tYXzwugeBe .mbr-text,
.cid-tYXzwugeBe .mbr-section-btn {
  text-align: right;
}
.cid-tYXx6zjfP4 {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #edefeb;
}
.cid-tYXx6zjfP4 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tYXx6zjfP4 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tYXx6zjfP4 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tYXx6zjfP4 .row {
  flex-direction: row-reverse;
}
.cid-tYXx6zjfP4 .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-tYXx6zjfP4 .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tYXx6zjfP4 .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tYXx6zjfP4 .mbr-section-title {
  color: #c6a48b;
}
.cid-tYXx6zjfP4 .mbr-text,
.cid-tYXx6zjfP4 .mbr-section-btn {
  color: #000000;
}
.cid-tYXx7MHYXU {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #edefeb;
}
.cid-tYXx7MHYXU .mbr-fallback-image.disabled {
  display: none;
}
.cid-tYXx7MHYXU .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tYXx7MHYXU .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tYXx7MHYXU .row {
  flex-direction: row-reverse;
}
.cid-tYXx7MHYXU .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-tYXx7MHYXU .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tYXx7MHYXU .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tYXx7MHYXU .mbr-section-title {
  color: #ab9443;
}
.cid-tYXx7MHYXU .mbr-text,
.cid-tYXx7MHYXU .mbr-section-btn {
  color: #000000;
}
.cid-tYXztDStRr {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #bbbbbb;
}
.cid-tYXztDStRr .mbr-fallback-image.disabled {
  display: none;
}
.cid-tYXztDStRr .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tYXztDStRr .card-wrapper {
  background: #c2bea1;
}
@media (max-width: 767px) {
  .cid-tYXztDStRr .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tYXztDStRr .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tYXztDStRr .card-wrapper {
    padding: 9rem 4rem;
  }
}
.cid-tYXztDStRr .mbr-text,
.cid-tYXztDStRr .mbr-section-btn {
  color: #000000;
  text-align: center;
}
.cid-tYXztDStRr .card-title,
.cid-tYXztDStRr .card-box {
  text-align: center;
  color: #000000;
}
.cid-tYXx4WXBc5 {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #edefeb;
}
.cid-tYXx4WXBc5 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tYXx4WXBc5 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tYXx4WXBc5 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tYXx4WXBc5 .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-tYXx4WXBc5 .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tYXx4WXBc5 .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tYXx4WXBc5 .mbr-section-title {
  color: #be8255;
}
.cid-tYXx4WXBc5 .mbr-text,
.cid-tYXx4WXBc5 .mbr-section-btn {
  color: #260a30;
}
.cid-tYXuZbo81v {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #edefeb;
}
.cid-tYXuZbo81v .mbr-fallback-image.disabled {
  display: none;
}
.cid-tYXuZbo81v .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tYXuZbo81v .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tYXuZbo81v .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-tYXuZbo81v .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tYXuZbo81v .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tYXuZbo81v .mbr-section-title {
  color: #c2bea1;
}
.cid-tYXuZbo81v .mbr-text,
.cid-tYXuZbo81v .mbr-section-btn {
  color: #260a30;
}
.cid-tYXuWkSiLQ {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #edefeb;
}
.cid-tYXuWkSiLQ .item-subtitle {
  line-height: 1.2;
  color: #645600;
  text-align: left;
}
.cid-tYXuWkSiLQ img,
.cid-tYXuWkSiLQ .item-img {
  width: 100%;
  height: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-tYXuWkSiLQ .item:focus,
.cid-tYXuWkSiLQ span:focus {
  outline: none;
}
.cid-tYXuWkSiLQ .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-tYXuWkSiLQ .item {
    margin-bottom: 1rem;
  }
}
.cid-tYXuWkSiLQ .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-tYXuWkSiLQ .item-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cid-tYXuWkSiLQ .item-content .item-footer {
  margin-top: auto;
}
.cid-tYXuWkSiLQ .mbr-section-title {
  color: #000000;
}
.cid-tYXuWkSiLQ .mbr-text,
.cid-tYXuWkSiLQ .mbr-section-btn {
  color: #000000;
  text-align: left;
}
.cid-tYXuWkSiLQ .item-title {
  color: #000000;
}
.cid-tYXuWkSiLQ .content-head {
  max-width: 800px;
}
.cid-tYXnRk42Kb {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: #bbbbbb;
}
.cid-tYXnRk42Kb .mbr-fallback-image.disabled {
  display: none;
}
.cid-tYXnRk42Kb .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tYXnRk42Kb .google-map {
  height: 30rem;
  position: relative;
  border-radius: 2rem;
}
.cid-tYXnRk42Kb .google-map iframe {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
}
.cid-tYXnRk42Kb .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-tYXnRk42Kb .google-map[data-state] {
  background: #e9e5dc;
}
.cid-tYXnRk42Kb .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-tYXnRk42Kb .content-head {
  max-width: 800px;
}
